<h3>Management connection <= result[:uri] %></h3>
<dl>
  <dt>Uses TLS?</dt>
  <dd><%= result[:tls] %></dd>        

  <dt>HTTP API plugin version</dt>
  <dd><%= result[:management_plugin_version] %></dd>

  <dt>Total connections</dt>
  <dd><%= result[:object_totals]["connections"] %></dd>

  <dt>Total channels</dt>
  <dd><%= result[:object_totals]["channels"] %></dd>

  <dt>Exchanges/Queues totals</dt>
  <dd><%= result[:object_totals].inspect %></dd>

  <dt>Erlang version</dt>
  <dd><%= result[:full_erlang_version] %></dd>

  <dt>Statistics DB node</dt>
  <dd><%= result[:statistics_db_node] %></dd>
</dl>
